@import "tailwindcss";

::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

